body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: #fff;
  
}

header::after {
  content: '';
  height: 200vh;
  width: 100%;
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;

}

.header-content {
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 55%;
  margin-top: 105px;
  text-align: center;
  width: 300px;
  height: 350px;
  nav-up: 20%;

}

.container {
  width: 960px; 
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
  
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3. 1fr);
  grid-gap: 20px;

}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, fr1);
  grid-gap: 20px;

}
.text-center {
  text-align: center;
  margin: auto;

}
.bg-light {
  background-color: rgb(16, 27, 190);

}

